body {
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color: #000305;
    line-height: 1.5;
    background: #F5F4EF;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}



h1, h2, h3, h4 {
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    color: #c74350;
    margin: 10px 0 0 0;
}

h3, h4 {
    font-size: 20px;
}

a {
    color: #c74350;
    transition: all 1s ease-in-out;
    text-decoration: none;
    border-bottom: 1 px solid #c74350;
}

a:hover,
a:focus,
a:active {
    color: #fff;
    background-color: #c74350;
}

/* Header styles */

header{
    padding: 40px 0 20px 0;
}

.title a {
    color:#000305;
    border: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    color: #c74350;
    background-color: transparent;
}

.title span{
    display: block;
}

.title span:last-of-type {
    font-size: 18px;
}

/* Aside styles*/
.menu{
    padding: 0;
    list-style: none;
    width: 30%;
    display: inline-block;
}

.menu li {
    border-bottom: 1px #fff;
}

.menu a {
    display: block;
    padding: 5px;
    color: #000305;
    border-bottom: 1px solid #f4e3e3;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
    color: #fff;
    border-color: #c74350;
}

/* Main styles*/ 
.section {
    background-color: #fff;
    border-radius: 15px;
    padding: 15px 25px;
    margin-bottom: 25px;
    border: 2px solid #c74350;
}

article h3 a {
    color: #000305;
    border: none;
}

article p {
    margin-bottom: 0;
}

article h4 {
    margin-bottom: 5px;
}

article h4 a {
    border: none;
}



.section article + article {
    border-top: 1px solid red;
}

.section article + article {
    border-top: 1px solid #F5F4EF;
}

/*Footer styles*/
.row {
    display: flex;
    align-items: center;
}

.row--top {
    align-items: flex-start;
}

.col + .col {
    margin-left: 25px;
}

.col--shrink {
    flex: 1 0 auto;
}

footer h4 a {
    border: none;
}

.copyright {
     text-align: right;
}